<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-06-13T21:39:21Z</date>
	<key>WorkspacePath</key>
	<string>/Users/steven_watremez/workspace/ios/Tutorial/Tutorial.xcodeproj</string>
</dict>
</plist>
